<div id="{{id}}" class="{{classes}}" style="display: flex;">
	{{#if isVideo}}
		<video src="{{url}}" autoplay loop style="width:100%; border:0px"></video>
	{{else}}

		{{#if isActive}}
			<img src="{{url}}" id="hoverImageId" style="width:50%; border:0px"></img>
		{{else}}
			<img src="{{url}}" id="hoverImageId" style=" position:relative ;width:50%;border:0px;opacity: 0.3;filter: brightness(0.7); /*bottom: -30%;*/">
		{{/if}}

		{{#if isActive2}}
			<img src="{{url2}}" id="hoverImageId" style="width:50%; border:0px"></img>
		{{else}}
			<img src="{{url2}}" id="hoverImageId" style=" position:relative ;width:50%;border:0px;opacity: 0.3;filter: brightness(0.7); /*bottom: -30%;*/">
		{{/if}}


		
		<img src="{{url2}}" id="hoverImageId" style="width:50%; border:0px"></img>
		<img src="{{url2}}" id="hoverImageId" style="width:50%; border:0px"></img>
		<img src="{{url2}}" id="hoverImageId" style="width:50%; border:0px"></img>
	{{/if}}
</div>