<div id="{{id}}" class="{{classes}}" style="display: flex;">
	{{#if isVideo}}
		<video src="{{url}}" autoplay loop style="width:100%; border:0px"></video>
	{{else}}

		{{#if isActive}}
			<img src="{{url}}" id="hoverImageId" style="width:25%; border:0px"></img>
		{{else}}
			<img src="{{url}}" id="hoverImageId" style=" position:relative ;width:25%;border:0px;opacity: 0.5;filter: brightness(0.5); /*bottom: -30%;*/">
		{{/if}}

		<img src="{{url2}}" id="hoverImageId2" style="width:25%; border:0px"></img>
		
		<img src="{{url3}}" id="hoverImageId3" style="width:25%; border:0px"></img>
		
		<img src="{{url4}}" id="hoverImageId4" style="width:25%; border:0px"></img>
	{{/if}}
</div>